/* Invoice links based on billing statuses */

a.billing-status-unbilled {background-color:#FFFFDD;}
a.billing-status-billed {background-color:#FFCCCC; color: #CC0000;}
a.billing-status-approved {color: #999000;}
a.billing-status-paid { }
a.billing-status-hold {color: #999999}
a.billing-status-rejected {color: #CC0000;}
a.billing-status-pro_bono { }
a.billing-status-internal { }

.icon-csv { background-image: url(../images/page_excel.png) }
.icon-add-invoice { background-image: url(../images/table_add.png) }
.icon-invoices { background-image: url(../images/table_multiple.png) }