div#floating-counter { position:absolute; right:10px; top:50px; border: 3px #333333 solid; background: white; padding: 10px 10px 0 10px; font-weight: bold; width: 250px;}
div#floating-counter #minimize { text-align: right; float: right;}
div#floating-counter p#total-time { font-size: 150%; margin: 8px 0px; text-align:center; }
div#floating-counter ul { list-style: none; padding: 0; }
tr.missing-rate { color: red; }

a.invoice-command { background: url(../images/invoice.png) no-repeat; padding-left: 20px; }